nav {
            border: 1px;
            background-color: green;
            color: white;
            padding: 6px;
        }

        a {
            text-decoration: none;
            color: white;
            font-size: 20px;
        }